<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wuhobin.dao.UserDao">
    <select id="listUser" resultType="wuhobin.pojo.User">
        select *
        from mybatis.user;
    </select>

    <select id="listUserByName" parameterType="wuhobin.pojo.query.UserQuery" resultType="wuhobin.pojo.User">
        select *
        from mybatis.user
        <where>
            <if test="name != null and name != ''">
                and `name` like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <delete id="deleteUserById" parameterType="int">
        delete from mybatis.user where id=#{id}
    </delete>

    <select id="queryUserById" parameterType="int" resultType="wuhobin.pojo.User">
        select * from mybatis.user where  id=#{id}
    </select>


    <update id="updateUser" parameterType="wuhobin.pojo.User">
        update mybatis.user
        set name = #{name},pwd = #{pwd}
        where id = #{id}
    </update>

    <insert id="addUser" parameterType="wuhobin.pojo.User">
        insert into mybatis.user(name, pwd) values (#{name},#{pwd})
    </insert>
</mapper>