<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<div class="ui container">
    <form class="ui form" th:action="@{/edit}" method="post" th:object="${user}">
        <input type="hidden" th:value="*{id}" name="id">
        <div class="field">
            <label>用户名</label>
            <input type="text" name="name" placeholder="请输入用户名" required th:value="*{name}">
        </div>
        <div class="field">
            <label>密码</label>
            <input type="text" name="pwd" placeholder="请输入密码" required th:value="*{pwd}">
        </div>
        <button class="ui button" type="submit">提交</button>
    </form>

    <div class="ui success  message" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">提示：</div>
        <p th:text="${message}"></p>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".message .close").on('click',function () {
        $(this).closest(".message")
            .transition("fade");
    })
</script>
</body>
</html>